<div class="main users-new">
  <div class="container">
    <h2 class="form-heading" data-test="form-heading">Sign up</h2>
    <div class="form users-form">
      <div class="form-body">
        <% errors.forEach(error => { %>
          <div class="form-error" data-test="error-<%= error.param %>"><%= error.msg %></div>
        <% }) %>
          <form action="/users" method="POST" data-test="form">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" value="<%= user.name %>" data-test="input-name">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" value="<%= user.email %>" data-test="input-email">
            <label for="password">Password</label>
            <input id="password" type="password" type="password" name="password" value="<%= user.password %>" autocomplete="off" data-test="input-password">
            <input type="submit" value="Sign up" data-test="submit">
          </form>
      </div>
    </div>
  </div>
</div>
