<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= user.imageName %>" data-test="user-image">
      <h2 data-test="user-name"><%= user.name %></h2>
      <p data-test="user-email"><%= user.email %></p>

      <div class="follow">
        <p1 data-test="user-followerd"><%= FollowerCount %> Followers</p1>
        <svg xmlns="http://www.w3.org/2000/svg" width="2" height="24" viewBox="0 0 2 24" fill="none">
          <path d="M1 0V24" stroke="#9E9E9E" stroke-width="0.5"/>
        </svg>
        <p1 data-test="user-following"><%= FollowCount %> Following</p1>
      </div>

      <% if(currentUser.id === user.id) { %>
        <a href="<%= `/users/${user.id}/edit` %>">Edit</a>
      <% } else { %>
        <div class="button">
          <%let isFollowing = true; %>
          <% if(isFollowing === false) { %>
            <div class="follow-button">Follow</div>
          <% } else { %>
            <div class="following-button">Following</div>
          <% }  %>
        </div>
      <% } %> 
      
      <a href="#openfollow">ここをffの場所にする</a>

      <div id="openfollow" class="Modal">
        <div>
          <!-- 一覧上のタブ -->
          <div class="fftable">
            <div class="fftable-tabs">
              <div class="fftable-tabs-space">
                <li class="active">
                <div class="Followers-table">Followers</div>
                </li>
                <li>
                <div class="Following-table">Following</div>
                </li>
              </div>
            </div>
            <!-- 閉じるボタン -->
            <a href="#close">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M19 7.31039L17.59 5.90039L12 11.4904L6.41 5.90039L5 7.31039L10.59 12.9004L5 18.4904L6.41 19.9004L12 14.3104L17.59 19.9004L19 18.4904L13.41 12.9004L19 7.31039Z" fill="#16325C"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul class="user-tabs">
      <li class="active">
        <a href="<%= `/users/${user.id}` %>">Posts</a>
      </li>
      <li>
        <a href="<%= `/users/${user.id}/likes` %>">Likes</a>
      </li>
    </ul>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>