<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= user.imageName %>" data-test="user-image">
      <h2 data-test="user-name"><%= user.name %></h2>
      <p data-test="user-email"><%= user.email %></p>

      <div class="follow">
        <p1 data-test="user-followerd"><%= FollowerCount %> Followers</p1>
        <svg xmlns="http://www.w3.org/2000/svg" width="2" height="24" viewBox="0 0 2 24" fill="none">
          <path d="M1 0V24" stroke="#9E9E9E" stroke-width="0.5"/>
        </svg>
        <p1 data-test="user-following"><%= FollowCount %> Following</p1>
      </div>

      <% if(currentUser.id === user.id) { %>
        <a href="<%= `/users/${user.id}/edit` %>">Edit</a>
      <% } else { %>
        <div class="button">
          <%let isFollowing = true; %>
          <% if(isFollowing === false) { %>
            <div class="follow-button">Follow</div>
          <% } else { %>
            <div class="following-button">Following</div>
          <% }  %>
        </div>
      <% } %> 
    </div>

    <ul class="user-tabs">
      <li class="active">
        <a href="<%= `/users/${user.id}` %>">Posts</a>
      </li>
      <li>
        <a href="<%= `/users/${user.id}/likes` %>">Likes</a>
      </li>
    </ul>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>